@font-face{
    font-family: 'New-Oswald';
    src: url('fonts/Oswald/Oswald-Regular.eot');
    src: url('fonts/Oswald/Oswald-Regular.eot?iefix') format('eot'),
    url('fonts/Oswald/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat/Montserrat-Medium.eot');
    src: url('fonts/Montserrat/Montserrat-Medium.eot?iefix') format('eot'),
    url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat/Montserrat-Bold.eot');
    src: url('fonts/Montserrat/Montserrat-Bold.eot?iefix') format('eot'),
    url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

body{
    background-color: #E9EDF0;
}


header{
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a{
    margin: 0 30px;
}

header .logo img{
    height: 60px;
}

header .main-link{
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    color: #4E4E5A;
    font-size: 1.7em;
    padding: 3px 10px;
    border-radius: 8px;
    transition: 0.3s;
}

header .logo{
    cursor: pointer;
    min-height: 60px;
    padding: 3px 10px;
    border-radius: 8px;
    transition: 0.3s;
}

header .logo:hover, header .main-link:hover{
    background-color: #cccccc78;
}

article{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer{
    width: 100%;
    padding: 15px 0;
    font-family: 'Montserrat-Medium';
    color: #e7e7e7;
    background-color: #4E4E5A;
    /* border-radius: 10px 10px 0 0; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 3px 0;
}

.back{
    margin: 10px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.back a{
    padding: 4px 15px;
    transition: 0.3s;
    font-family: 'Montserrat-Bold';
    color: #444;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #fff, 3px 3px 7px #C0C9D2;
}

.back a:hover{
    background-color: #cccccc91;
}
